<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Great Number Game" content="Assignment five.">
    <title>Great Number Game</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <h2>Welcome to the Great Number Game!</h2>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <form  action = '/process_guess' method='post'>
            <input type='text' name='guess'>
            <button type='submit'>Submit</button>
        </form>
    </div>
</body>

</html>
